.image-gallery {
  margin: 0;
  padding: 0;
}

.image-container {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
 
}
@media (max-width: 768px) {
  .image-container {
    -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  }
}
@media (max-width: 480px) {
  .image-container {
    -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  }
}





img {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}
.load-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  

}
